# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# <Contact 
#         img={require("./components/images/cat.png")}
#         name="Mr. Whiskerson"
#         phone="(212) 555-1234"
#         email="mr.whiskaz@catnap.meow"
#       />
#       <Contact 
#         img={require("./components/images/cat1.png")}
#         name="Fluffykins"
#         phone="(212) 555-2345"
#         email="fluff@me.com"/>
#       <Contact 
#         img={require("./components/images/cat2.png")}
#         name="Felix"
#         phone="(212) 555-4567"
#         email="thecat@hotmail.com"/>
#       <Contact 
#         img={require("./components/images/cat3.png")}
#         name="Pumpkin"
#         phone="(0800) CAT KING"
#         email="pumpkin@scrimba.com"
#       />