* {
  box-sizing: border-box;
}
body {
  margin: 5;
  background-color: #918e9b;
}

.page {
  border-radius: 8.95px;
  background-color: #ffffff;
  width: 550px;
}
.bold {
  font-weight: bold;
}
.navbar {
  border-top-left-radius: 8.95px;
  border-top-right-radius: 8.95px;
  width: 550px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 82.02px;
  height: 25.35px;
  margin-left: 30px;
  margin-top: 22px;
}
.hero {
  height: 402px;
  width: 550px;
  background-color: #ffffff;
  font-family: "Poppins";
  margin-top: 3px;
}
.grid {
  width: 395.91px;
  height: 232px;
  margin-left: 77px;
  margin-top: 26px;
}
.hero-heading {
  height: 40px;
  margin-left: 36px;
  margin-top: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
}
.hero-p {
  width: 306px;
  height: 56px;
  margin-left: 50px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}
.cards {
  width: 550px;
  height: 381px;
}
.swimmer-pic {
  width: 176px;
  height: 235px;
  margin-left: 37px;
  margin-top: 49px;
}
.star1 {
  width: 14px;
  height: 14px;
  margin-left: 36px;
  margin-right: 4px;
  margin-top: 10px;
  border-radius: 0.5px;
}
.line-1 {
  display: flexbox;
}
.rating {
  font-family: Poppins;
  height: 14px;
  font-style: normal;
  font-weight: 300;
  margin-right: 3px;
  font-size: 13px;
  line-height: 110%;
  /* identical to box height, or 13px */
  color: #222222;
}
.other {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 110%;
  /* identical to box height, or 13px */

  color: #918e9b;
}
.caption {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  margin-left: 36px;
  margin-top: 8px;
  /* identical to box height, or 13px */
  color: #222222;
}
.price {
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  line-height: 110%;
  margin-left: 36px;
  margin-top: 8px;
  /* identical to box height, or 13px */
  color: #222222;
}
